baseurl: https://umi0410.github.io
languageCode: ko-kr
theme: [PaperMod]
pagination:
  pagerSize: 10
title: 'Software Engineer - Jinsu Park'


# Change it to your Disqus shortname before using
disqusShortname: umi0410

# GA Tracking ID
GoogleAnalytics: G-MSQXG4N1BQ


# Theme i18n support
# Available values: en, fr, id, ja, ko, pt-br, zh-cn, es, de, nl
defaultContentLanguage: ko
languages:
  en:
    contentDir: content/en
    languageName: English
  ko:
    contentDir: content/ko
    languageName: Korean

permalinks:
  post: /p/:slug/
  page: /:slug/

params:
  env: production # to enable google analytics, opengraph, twitter-cards and schema.
  title: 'Software Engineer - Jinsu Park'
  description: "Hello, this is a tech blog of a software engineer."
  keywords: [DevOps, SRE, Software, Blog, Tech Blog, Kubernetes, Cloud Infrastructure ]
  DateFormat: "January 2, 2006"
  defaultTheme: auto # dark, light
  disableThemeToggle: false
  ShowReadingTime: true
  ShowShareButtons: false
  ShowPostNavLinks: true
  ShowBreadCrumbs: true
  ShowCodeCopyButtons: true
  ShowWordCount: false
  ShowRssButtonInSectionTermList: true
  disableSpecial1stPost: false
  disableScrollToTop: false
  comments: false
  hidemeta: false
  hideSummary: false
  ShowToc: true
  TocOpen: false

  assets:
    # disableHLJS: true # to disable highlight.js
    # disableFingerprinting: true
    favicon: "<link / abs url>"
    favicon16x16: "<link / abs url>"
    favicon32x32: "<link / abs url>"
    apple_touch_icon: "<link / abs url>"
    safari_pinned_tab: "<link / abs url>"

  label:
    # text: "Software Engineering"
    # icon: /apple-touch-icon.png
    iconHeight: 35
  # profileMode: {}


  # home-info mode
  homeInfoParams:
     Title: "Software Engineer - Jinsu Park"
     Content: |
       _DevOps Engineer / SRE at a game publishing company_
       <br/><br/>
       ## What I'm intereted in
       
       > - Cloud-native systems(e.g. Istio, ArgoCD, Kubernetes)
       > - Public cloud services (e.g. AWS, GCP)
       > - On-premise infrastructure
       
       ## Specialization
       
       > - Istio - I'm managing Istio on Kubernetes clusters and can make use of its various features and configurations.
       > - Argo projects like argo-cd, argo-rollouts, notifications-engine
       > - Kubernetes
       > - Platform Engineering

  socialIcons:
    - name: github
      url: https://github.com/umi0410
    - name: linkedin
      url: https://www.linkedin.com/in/jinsu-park-dev/

  analytics:
    google:
      SiteVerificationTag: "XYZabc"

  cover:
    hidden: false # hide everywhere but not in structured data
    hiddenInList: false # hide on list pages and home
    hiddenInSingle: false # hide on single page

  editPost: {}
  # for search
  # https://fusejs.io/api/options.html
  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    location: 0
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 0
    limit: 10 # refer: https://www.fusejs.io/api/methods.html#search
    keys: [ "title", "permalink", "summary", "content" ]
menu:
  main:
    - identifier: search
      name: Search
      url: /search/
      weight: 40
    - identifier: archives
      name: Archives
      url: /archives/
      weight: 41
    - identifier: categories
      name: Categories
      url: /categories/
      weight: 50
    - identifier: github
      name: GitHub
      url: https://github.com/umi0410
    - identifier: linkedin
      name: LinkedIn
      url: https://www.linkedin.com/in/jinsu-park-dev/
# Read: https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#using-hugos-syntax-highlighter-chroma
pygmentsUseClasses: true
markup:
  goldmark:
    renderer:
      unsafe: true
  highlight:
    noClasses: false
    anchorLineNos: false
    codeFences: true
    guessSyntax: true
    lineNos: true
    # style: monokai
  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
outputs:
  home:
    - HTML
    - RSS
    - JSON