<!--custom font example-->
<!--<style>-->
<!--        /// Overwrite CSS variable-->
<!--    :root {-->
<!--        &#45;&#45;article-font-family: "Merriweather", var(&#45;&#45;base-font-family);-->
<!--    }-->
<!--</style>-->

<!--<script>-->
<!--        (function () {-->
<!--            const customFont = document.createElement('link');-->
<!--            customFont.href = "https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap";-->

<!--            customFont.type = "text/css";-->
<!--            customFont.rel = "stylesheet";-->

<!--            document.head.appendChild(customFont);-->
<!--        }());-->
<!--</script>-->

<style>
        /// Overwrite CSS variable

        :root{
            --body-background: #fafeff;
        }
    .left-sidebar {
        --sidebar-avatar-size: 200px;
    }
        figure.site-avatar{
            margin-left: auto !important;
            margin-right: auto !important;
        }
</style>