lockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}




h2 {
  font-size: 1.5rem;
  line-height: 110% !important;
  margin: 2.5rem 0 1.5rem 0;
}

h3 {
  font-size: 1.3rem;
  line-height: 110% !important;
  margin: 2rem 0 1rem 0;
}

h4 {
  font-size: 1.1rem;
  line-height: 110% !important;
  margin: 1.5rem 0 0.75rem 0;
}

h5 {
  font-size: 1.0rem;
  line-height: 110% !important;
  margin: 1rem 0 0.2rem 0;
}

h6 {
  font-size: 0.9rem;
  line-height: 110% !important;
  margin: 0.5rem 0 0.2rem 0;
}



p{
  font-size: 20px;
}
#chapter p{
  text-align: left;
  /*font-size: 0.9rem;*/
  font-size: 18px;
}

#shortcuts h3{
  display: none;
}

#shortcuts ul>li>a{
  line-height: 2rem;
  font-size: 1.1rem;
}

#body img, #body .video-container {
  margin: 1rem auto;
}

blockquote {
    display: block;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    margin-inline-start: 5px;
    margin-inline-end: 5px;
}
blockquote p{
    font-size: 16px;
}